@import '../../entrypoints/stylesheets/colors';

.BikeShowCard {
  position: relative;
  color: $cream;
  min-height: 50vh;
  border-radius: 10px;
  background-position: center;
  background-size: cover;

  .BikeShowCard__overlay {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
